<div class="page_header" style="background-image: url(assets/Catering-banner-min.jpg?v=674)">

</div>
<section class="cart_page pt-70">
    <div class="container">
        <div class="row mb-5 pb-3">
            <div class="col-12 col-lg-4 col-md-4">
                <div class="heading">
                    <h2>Catering Services</h2>
                </div>
            </div>



            <div class="col-12 col-lg-8 col-md-8">
                <div class="heading">
                    <p>
                        Bon Gateau also serves as a caterer for various occasions including: <strong>
                            Weddings, Birthdays, Kitty Party, Hi-Tea Party, Other various small get together.
                        </strong>
                    </p>
                    <p>We have a wide range of delectable foods, cakes, pastries, mouth-watering desserts and much, much
                        more…in our kitty to offer our clients on such celebrations. Whether you crave for a single
                        cookie or want desserts, cakes or snacks for a gathering of any size, we are here offer to serve
                        you and will be happy to serve your needs. <br>Just place an order with Bon gateau and make your
                        occasion (Breakfast, Lunch or Dinner) a truly fine dining experience. We also take care of every
                        bit of your special needs for thematic functions etc.</p>
                </div>
            </div>
        </div>
        <div class="row">



            <div class="col-lg-4 col-12">
                <div class="news_gallery">
                    <a href="assets/Catering-1-min.jpg" data-fancybox="gallery">
                        <img src="assets/Catering-1-min.jpg" class="img-fluid">
                    </a>
                </div>
            </div>


            <div class="col-lg-4 col-12">
                <div class="news_gallery">
                    <a href="assets/Catering-2-min.jpg" data-fancybox="gallery">
                        <img src="assets/Catering-2-min.jpg" class="img-fluid">
                    </a>
                </div>
            </div>

            <div class="col-lg-4 col-12">
                <div class="news_gallery">
                    <a href="assets/Catering-3-min.jpg" data-fancybox="gallery">
                        <img src="assets/Catering-3-min.jpg" class="img-fluid">
                    </a>
                </div>
            </div>











        </div>
    </div>
</section>