<div class="page_header" style="background-image: url(assets/Retail-main-min.jpg)">

</div>

<section class="cart_page pt-70">
    <div class="container">
        <div class="row mb-5 pb-3">
            <div class="col-12 col-lg-4 col-md-4">
                <div class="heading">
                    <h2>Retail Services</h2>
                </div>
            </div>



            <div class="col-12 col-lg-8 col-md-8">
                <div class="heading">
                    <p>
                        The ambiance of our outlet will give you a feel that you are in a European cafe.We have got
                        Vintage float theme which is only of its kind in Punjab.It is located in one of the most Porsche
                        areas of Amritsar with a large parking facility for the customer convenience.</p>
                    <p>We cater to 90% of the restaurants &amp; cafes of Amritsar with breads &amp; desserts.We can
                        cater any large order in a day.</p>
                </div>
            </div>
        </div>
        <div class="row">



            <div class="col-lg-4 col-12">
                <div class="news_gallery">
                    <a href="assets/Retail-page-banner-min.jpg" data-fancybox="gallery">
                        <img src="assets/Retail-page-banner-min.jpg" class="img-fluid">
                    </a>
                </div>
            </div>


            <div class="col-lg-4 col-12">
                <div class="news_gallery">
                    <a href="assets/Retail-2-min.jpg" data-fancybox="gallery">
                        <img src="assets/Retail-2-min.jpg" class="img-fluid">
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-12">
                <div class="news_gallery">
                    <a href="assets/Retail-3-min.jpg" data-fancybox="gallery">
                        <img src="assets/Retail-3-min.jpg" class="img-fluid">
                    </a>
                </div>
            </div>



        </div>
    </div>
</section>