<div class="page_header" style="background-image: url(assets/Retail-main-min.jpg)">

</div>

<section class="cart_page pt-70">
    <div class="container">
        <div class="row mb-5 pb-3">
            <div class="col-12 col-lg-4 col-md-4">
                <div class="heading">
                    <h2>Corporate Services</h2>
                </div>
            </div>



            <div class="col-12 col-lg-8 col-md-8">
                <div class="heading">
                    <p>
                        We do corporate orders for all industries whether it is an MNC or a small business. We do orders
                        for: <strong>
                            Diwali, Christmas, New Year, Holi, and for all other occasions and festivals too.
                        </strong>
                    </p>
                    <p>We have variety of products to choose from- English dry fruits, Belgium chocolate baskets &amp;
                        much more.</p>
                </div>
            </div>
        </div>
        <div class="row">



            <div class="col-lg-4 col-12">
                <div class="news_gallery">
                    <a href="assets/Corporate-1-min.jpg" data-fancybox="gallery">
                        <img src="assets/Corporate-1-min.jpg" class="img-fluid">
                    </a>
                </div>
            </div>



            <div class="col-lg-4 col-12">
                <div class="news_gallery">
                    <a href="assets/Corporate-2-min.jpg" data-fancybox="gallery">
                        <img src="assets/Corporate-2-min.jpg" class="img-fluid">
                    </a>
                </div>
            </div>


            <div class="col-lg-4 col-12">
                <div class="news_gallery">
                    <a href="assets/Corporate-3-min.jpg" data-fancybox="gallery">
                        <img src="assets/Corporate-3-min.jpg" class="img-fluid">
                    </a>
                </div>
            </div>




        </div>
    </div>
</section>