<div class="login-wrap">
    <div class="login-form">
        <form [formGroup]="AdminLoginForm" (ngSubmit)="getValue()">
            <div class="title">
                <div class="logo__ text-center mx-auto text-center mb-2">
                    <img src="assets/logo.png" class="img-fluid" style="width:80px">
                    </div>
                <!-- <h4>Login{{displayName(12)}}</h4> -->
                <h4>Login</h4>
            </div>

            <div class="form-group">
                <input type="text" placeholder="Enter user name.." formControlName="username" class="form-control"
                    autocomplete="off">
            </div>

            

            <div class="form-group input-group">
                <input  placeholder="Enter password.." formControlName="password" class="form-control"
                    type="password">

                    
            </div>
        
<div *ngIf="loading" class="btn btn-light btn-block d-flex">loading.... <mat-spinner></mat-spinner></div>
            <!-- <button type="submit" class="" [disabled]="!UserLoginForm.valid">Login</button> -->
            <input  type="submit" class=" btn-fill btn-block"  [disabled]="!AdminLoginForm.valid" value="Login" *ngIf="!loading">

            <!-- <span>{{loginErr}}</span> -->
        </form>
    </div>
</div>

<style>
    .header_menu {
    display: none !important;
}
    .login-wrap {
    width: 100%;
    height: 100%;
    display: flex;
    place-content: center;
    place-items: center;
}
input.form-control {
    height: 50px;
}

</style>

